/* You can add global styles to this file, and also import other style files */
.play{
    position: absolute;
    bottom: -50px;
    display: none;
}
.img{
    border-radius: 20px;
}
.new{
    position: absolute;
    left: -10px;
    top: -30px;
    width: 100px;
    height: 90px;
}
